body{
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  /* margin-bottom: 2000px; */
  margin-bottom: 0;
  background-color: hsl(37, 100%, 93%);
  padding-top: 140px;
}

/* .body-box {
  display: grid;
  grid-template-rows: 800px 100px;
} */


.photo-mission {
  position: relative;
  /* background-color: gray; */
}

.main-photo {
  width:100%;
  height: 500px;
  object-fit: cover;
  position:fixed;
}

.mission-text-box{
  position: absolute;
  border-radius: 10px;
  width:50%;
  margin-left: 25%;
  text-align: center;
  margin-top: 380px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
  background: rgba(255, 224, 175, 0.9);
  z-index: 1;
}

.mission-statement {
  font-size: 35px;
  margin-top: 15px;
  margin-bottom: 10px;
  border-bottom: 3px;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-style: solid;
}

.mission-info {
  margin-top: 10px;
  font-size: 20px;
  font-family: 'Times New Roman';
}

.body2 {
  background-color: rgb(255, 230, 191);
  z-index: 1;
  display:grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 100px;
  padding-right: 100px;
  padding-left: 100px;
  padding-top: 40pxd;
  height: 300px;
}

.image2{
  background-color: lightblue;
  object-fit: contain;
}

.text2{
  background-color: lightpink;

}