.header-box{

  display: flex;
  flex-direction: row;
  position:fixed;
  left:0;
  right:0;
  top:0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  background-image: linear-gradient( #ffdaa0, #fff1da);
  z-index: 2;
  height:150px;
}

.navigation-box{
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  padding-left: 25%;
}

.title-box {
  display: flex;
  justify-content: center;
  align-items: center;
}



.Home-box,
.Supplies-box,
.Donation-box,
.Contact-box {
  display: flex;
  justify-content: center;
  min-width: 150px;
  align-items: center;
}

.Home-box,
.Supplies-box{
  border-color: blue;
  flex:1;

}

.Donation-box,
.Contact-box {
  border-color: red;
  flex:1;
}


.Home-text,
.Donation-text,
.Supplies-text,
.Contact-text {
  text-decoration: none;
  font-size: 20px;
  font-family: Arial;
  color:black;
}

.Home-text:hover,
.Donation-text:hover,
.Supplies-text:hover,
.Contact-text:hover {
  color:#ef5741;
}




